

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@400;500;700&display=swap');
*{
	padding: 0;
	margin: 0;
}
body{
	font-family:'Fira Sans Condensed', sans-serif;
	 background: linear-gradient(rgba(241, 90, 34, .8),
	 rgba(241, 90, 34, .8)), url(../images/bgimg.jpg);
   min-height: 500px;
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}
.container{
	width: 100%;
}
header{
	margin: 50px;
}
#title{
	color: #fff;
	font-weight: 700;
	text-shadow:  0 0 3px #ccc;
	line-height: 1.5em;

}
#description{
	color: #fff;
	font-weight: 400;
	text-shadow:  0 0 3px #ccc;

}
.form-div{
	width: 600px;
    margin: 0 auto;
}
label{
    display: flex;
    color: #fff;
    font-family: inherit;
    font-weight: 500;

}
p{
	color: #fff;
	font-weight: 500;
	font-size: 20px;
	 margin-top: 30px;
     margin-bottom:10px;
}
textarea
{
	
     font-family: inherit;
     
}
.submit-button{
	width: 200px;
	 background-color:#800834;
  border: none;
  color: white;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}
.submit-button:hover{
	color: #fff;
	background: #2c3e50;
}

.form-group{
	margin-top: 20px;
}


